.navegacion {
    background-color: $primarioOscuro;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; 
}
.navegacion__enlace {
    font-family: $fuente_principal;
    color: $blanco;
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: $secundario;
}