@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

$fuente_principal: 'Staatliches', cursive;

$secundarioOscuro: rgb(233, 187, 2);
$secundario: #FFCE00;
$primarioOscuro: #89119D;
$primario: #9C27B0;
$blanco: #FFFFFF;
$negro: #000000;

$separacion: 5rem;

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;
$gris: #e1e1e1;
$grisOscuro: #333333;